#netbeans
Sorting/nbproject/private/
Sorting/nbproject/build-impl.xml
Sorting/nbproject/genfiles.properties
!Sorting/nbproject/project.properties
!Sorting/nbproject/project.xml
Sorting/build/
Sorting/nbbuild/
Sorting/dist/
Sorting/nbdist/
.nb-gradle/

#java
*.class

#who knows
core